*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.idea
*.pyc
alfred-mobile-firebase-*.json
alfred.properties
android_alfred.jks
secrets.tar
Swooby Play Android Dev-*.json
